<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin/addItem.css" type="text/css">
</head>
<body>
    <form th:action="@{/adim/addItem-done}" th:object="${item}" method="post">
    <div class="container">
        <h1 class="form__title">New Product</h1>
        <p class="form__subtitle">One More Model For Your Inventory</p>
        <div action="" class="form">
          <div class="form__input--fullwidth--icon">
            <i class="form__input__icon fa fa-flask" aria-hidden="true"></i>
             <input class="form__input--fullwidth" type="text" placeholder="Item Name" th:field="*{name}">
          </div>
         
          <input class="form__input" type="text" placeholder="Units" th:field="*{unit}">
          <input class="form__input" type="text" placeholder="Type" th:field="*{type}">
          <input class="form__input--fullwidth" type="text" placeholder="Cost Price" th:field="*{costPrice}">
          <input class="form__input--fullwidth" type="text" placeholder="Selling price" th:field="*{sellPrice}">
          <div class="form__input--fullwidth--icon">
            <i class="form__input__icon fa fa-check-circle" aria-hidden="true"></i>
          </div>
          <button type="submit" class="form__button">Next</button>
        </form>
        <div>
          <button  class="form__button--secondary" th:href="@{/admin/dashboard}">Previous</button> 
        </div>
        </div>
      </div>
    
</body>
</html>