<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin/addItem.css" type="text/css">
</head>
<body>
    <form th:action="@{/admin/addItem-done}" th:object="${item}" method="post">
    <div class="container">
        <h1 class="form__title">New Product</h1>
        <div action="" class="form">
          <div class="form__input--fullwidth--icon">
            <i class="form__input__icon fa fa-flask" aria-hidden="true"></i>
             <input class="form__input--fullwidth" type="text" placeholder="Item Name" th:field="*{model}" required="true">
          </div>
         
          <input class="form__input" type="number" placeholder="Units" th:field="*{unit}" required="true">
          <input class="form__input" type="text" placeholder="Type" th:field="*{type}" required="true">
          <input class="form__input--fullwidth" type="number" placeholder="Cost Price" th:field="*{cp}" required="true">
          <input class="form__input--fullwidth" type="number" placeholder="Selling price" th:field="*{sp}" required="true">
          <label for="id">Total Number of the product sold</label>
          <input class="form__input" type="number" placeholder="Sold" id="sold" th:field="*{sold}" required="true">
          <label for="id">Profit from already sold products</label>
          <input class="form__input" type="number" placeholder="Profit" id="profit" th:field="*{profit}" required="true">
           <label for="rating">Current Rating(out of 5.0)</label>
           <input class="form__input" type="text" placeholder="Rating"  id="rating" th:field="*{rating}" required="true">
           <label for="color">Color of the product</label>
           <input class="form__input" type="text" placeholder="Colour" id="color" th:field="*{color}" required="true">
          <div class="form__input--fullwidth--icon">
            <i class="form__input__icon fa fa-check-circle" aria-hidden="true"></i>
          </div>
          <button type="submit" class="form__button">Next</button>
        </form>
        <div>
          <button  class="form__button--secondary" th:href="@{/admin/dashboard}">Previous</button> 
        </div>
        </div>
      </div>
    
</body>
</html>