<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/admin/home.css" type="text/css">
  <script src="/javascript/admin/home.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>
  
  
</head>
<body>
    <!-- Page preloader -->
    <div id="hola">
      <div id="preloader">
      <span></span>
      <span></span>
        </div>
          </div>

      <!-- Start content -->
      <div class="page-wrap">
          <div class="home">
          <div class="text-wrap">
                         <nav>
      <a class="logo" th:href="@{/}">Debslance</a>
      <ul>
  <li><a sec:Authorize="isAuthenticated()" th:href="@{/admin/queries}">Queries</a></li>
  <li><a sec:Authorize="isAuthenticated()" th:href="@{/admin/stocksGraph}">StocksGraph</a></li>
  <li><a sec:Authorize="isAuthenticated()" th:href="@{/admin/dashboard}">Dashboard</a></li>
  <li><a sec:Authorize="isAuthenticated()" th:href="@{/logout}">Sign Out</a></li>
  <li><a sec:Authorize="isAnonymous()" th:href="@{/login}">Sign In</a></li>
</ul>
      </nav>
              <h1>Welcome Back</h1>
              <h2>Admin</h2>
              <h3>The One Solution To Store, Sell And Manage</h3>
              </div>
          </div>
      </div>

</body>
</html>
