<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin/stocksGraph.css" type="text/css">
    
</head>
<body>
    <div class="card">
        <div class="card__header">
            <p class="card__headline">Products</p>
            <h2 class="card__text fridge">Fridge</h2>
            <h2 class="card__text ac">AC</h2>
            <h2 class="card__text coolers">Coolers</h2>
        </div>
    
        <div class="card__chart">
            <div class="card__axis">
                <div class="card__row card__row--top">100</div>
                <div class="card__row card__row--middle">50</div>
                <div class="card__row card__row--bottom">0</div>
            </div>
            
<div class="card__column" th:each="item :${items}" th:with="height=${item.unit}">
    <div class="bar" id="col"  th:style="|height: ${item.unit}px;background: #cbf6db;|" th:if="${item.type} == 'fridge'"> </div>  
    <div class="bar" id="col"  th:style="|height: ${item.unit}px;background: #9bc472;|" th:if="${item.type} == 'ac'"> </div>  
    <div class="bar" id="col"  th:style="|height: ${item.unit}px;background: #f5beb4;|" th:if="${item.type} == 'coolers'"> </div>  
</div>

   
        </div>
    </div>
    
</body>
</html>