*{
    margin:0px;
    padding:0px;
  }
  body{
	background-color: #fdf1ec
}
  
  h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Source Serif Pro', serif;
      
  }
  
  .buttons{
      font-size: 22px;
      margin-top: 2%;
      margin-left: 4.2%;
  }
  
  .fa:hover{
      color: darkcyan;
  }
  
  .container{
    display: flex;
    flex-flow: column nowrap;
  }
  /*CSS Grid*/
  .section-grid{
     display: flex; 
     padding-left: 25px;
     padding-right: 25px;
  }
  .grid-prod{
    flex: 1 1 auto;
    display: flex; 
    flex-flow: row wrap;  
  }
  .prod-grid{
    flex: 1 1 25%;
    margin:2%;
    padding:12px;
    border: 2px solid #000;
    position:relative;
    background-color: #ffffff;
  }
  
  .prod-grid img{
    width:100%;
  }
  h3{
    text-align: center;
    line-height: 1.5;
    letter-spacing: .5px;
    margin-bottom: 40px;
    font-weight: bold;
    border:1px solid black;
    color: #8d8d8d;
    font-family: 'Suranna', serif;
  }
  p{
	  text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
     color: #474747;
    font-weight: bold;
}
  
  .btn{
      background: #9cebd5;
      
      border: 1px solid darkcyan;
      border-radius: 60px;
      color: white;
      font-size: 22px;
      width: 200px;
      height: 40px;
    position:absolute;
    bottom:0;
    right:0;
      margin-bottom:3px; 
      letter-spacing: 1px;
      text-decoration: none;
     text-align:center;
     line-height: 1.7;
     margin-top:10px;
  }
  .btn:hover{
      background: white;
      border: 1px solid darkcyan;
      border-radius: 60px;
      color: darkcyan;
      font-size: 22px;
      width: 200px;
      height: 40px;
      position:absolute;
    bottom:0;
  right:0;
      margin: 3px; 
      letter-spacing: 1px;
      font-weight: bold;
    margin-top:10px;
  }
  button{
    float: right;
  }
  
  /*CSS List*/
  .section-list{
     display: flex; 
     padding: 2% 4%; 
  }
  table {
    width: 70%;
    margin: 10px 10px;
    border:2px solid #000;
    border-collapse: collapse;
    border-spacing: 0;
  }
  table tr td {
    padding: 10px;
    border-top: 2px solid #000;
      position:relative;
  }
  tr td img{
    width:100%;
  }
  .btn-list{
      background: darkcyan;
      border: 1px solid darkcyan;
      border-radius: 6px;
      color: white;
      font-size: 22px;
      width: 200px;
      height: 40px;
       position:absolute;
    bottom:0;
    right:0;
      margin: 10px; 
      margin-top: 70%;
      margin-left:70%;
      letter-spacing: 1px;
      display: inline-block;
      
  }
  .btn-list:hover{
      background: white;
      border: 2px solid darkcyan;
      
      color: darkcyan;
  
  
  }
  button{
    float: right;
      position:absolute;
    bottom:0;
    right:0;
  }
  
  @media (min-width : 320px) and (max-width : 480px) { 
    .section-list, .buttons{
      display: none;
    }
  }
  
  #units{
	margin:4px;
	height:px;
}
