
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form th:action="@{/user/cart}" th:object="${cart}" method="POST">
        <label>Username</label>
        <input type="text" id="id" required="true" th:field="{*id}"}>
         <button class="button" type="submit">submit</button>
  </form>
</body>
</html>