<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/user/css/register.css" type="text/css">
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form th:action="@{/user/loggedin}" th:object=${customer} method="post">
            <div class="user-box">
                <input type="text" name="Email" id="Email" required="true" th:field="*{email}">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" id="password" required="true" th:field="*{password}">
                <label>Password</label>
            </div>
            <a href="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              <button class="button" type="submit">submit</button>
            </a>
        </form>
    </div>
    
</body>
</html>