<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/user/details.css" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  
</head>
<body>

<div class="product">
  <div class="product__left">
    <div class="product__nav"></div>
    <div class="product__slide">
      <div class="product__img"><img src="https://www.homeloans.com.au/-/media/Project/Resimac/Homeloans/Blog-images/1440x960_smart_appliances.jpg?h=960&iar=0&w=1440&hash=A9FC4161E7075B3933D165F5B7CCE205" alt="atomic travel bag"/></div>
      <ul class="list__dot">
        <li class="list__dot-item is-active"></li>
        <li class="list__dot-item"></li>
        <li class="list__dot-item"></li>
      </ul>
    </div>
  </div>
  <div class="product__right">
    <h1 class="product__title" th:text="${item.model}">Red Travel Bag</h1>
    <p class="product__price"><span class="product__price-new" th:text="${item.sp}" >$199</span></p>
    <p class="product__desc" th:text="${item.color}">Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum is simply dummy</p>
      <form th:action="@{/user/cart/buy/{id}(id=${item.id})}" method="GET" id="userform">
        <div class="qty" style="float:left;">
          <h5 id="h5">Quantity</h5>
          <input type="number" name="units" id="units" value="0" min="0" required=true >
        </div>
         <div class="qty" style="float:left;">
          <h5 id="h5">Rating(From 5)</h5>
          <input type="number" name="rating" id="rating" value="1.0" step="0.01" min="1.0" max="5.0" required="true">
        </div>
         <textarea rows="10" cols="50" name="review" id="review" form="userform" placeholder="Write a review"></textarea>
         <button class="btn btn--primary btn--rounded product__buy">Buy now</button>
      </div>
      </form>
      
  </div>
</div>

<h1 id="heading">Customer Reviews</h1>
<section  id="section">
	<div class="blog-card web" th:each="review :${reviews}" th:if="${review.review !=''} and ${review.itemId} == ${item.id}">
		<div class="content-mask">
			<span class="category" th:text="${review.user}">Web</span>
			<h4 th:text="${review.review}">Improving Website Performance</h4>
		</div>
		<div class="horizontal"></div>
	</div>
</section>


</body>
</html>