<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 style="text-align: center;">Order Placed</h1>
 <!-- order-confirmation-body -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #f3f3f3">
    <tr align="center">
        <td>
            <table style="width: 635px; background-color: #ffffff">
                <!--<tr>
					<td style="line-height: 90px;font-size:1px">&nbsp;</td>
				</tr>-->
                <tr>
                    <td align="center">
                        <table style="width: 400px;">
                            <!--<tr>
								<td style="line-height: 20px;font-size:1px">&nbsp;</td>
							</tr>-->
                            <tr>
                                <td>
                                    <p align="left" style="color: #666666; font-family: 'FuturaBQ-Book',Arial,sans-serif; font-weight: normal; text-align: left; line-height: 1.5; font-size:16px; letter-spacing: 1px; margin: 0; padding: 0; text-align: center;">We know you're going to be super keen to get your new purchase so that's why we will dispatch orders as soon as possible after your order has been placed. Actual delivery time will depend on your location. If your order
                                        contains any clearance items this may delay the dispatch of your order.</p>
                                    <p>&nbsp;</p>
                                    <p align="left" style="color: #666666; font-family: 'FuturaBQ-Book',Arial,sans-serif; font-weight: normal; text-align: left; line-height: 1.5; font-size:16px; letter-spacing: 1px; margin: 0; padding: 0; text-align: center;">
                                        <span align="left" style="color: #525352; font-family: 'FuturaBQ-Book',Arial,sans-serif; font-weight: normal; text-align: left; line-height: 1.64; font-size: 22px; letter-spacing: 1.5px; margin: 0; padding: 0; text-align: center;">Estimated Delivery Times</span>
                                        <br/>
                                        <br/>Orders are processed within 2-3 days of being received.
                                        <br/>Most orders will arrive between 2-5 working days from dispatch.
                                        <br/>Rural delivery or remote locations can take just a little longer so please allow an additional 2 working days.
                                        <br/>Please Note: Orders will be processed Monday - Friday.</p>
                                    <p>&nbsp;</p>
                                    <p align="left" style="color: #666666; font-family: 'FuturaBQ-Book',Arial,sans-serif; font-weight: normal; text-align: left; line-height: 1.5; font-size:16px; letter-spacing: 1px; margin: 0; padding: 0; text-align: center;">
                                        <span align="left" style="color: #525352; font-family: 'FuturaBQ-Book',Arial,sans-serif; font-weight: normal; text-align: left; line-height: 1.64; font-size: 22px; letter-spacing: 1.5px; margin: 0; padding: 0; text-align: center;">Can I return or exchange a product?</span>
                                        <br/>
                                        <br/>If for any reason you are not completely satisfied with your online purchase you will be able to exchange this for an alternative product or request a full refund (excluding freight). All we ask is that you
                                        do this within 60 days of receiving your order and that the product is in an “as sold” condition. To do this please complete the exchange form provided.</p>
                                    <p align="left" style="color: #666666; font-family: 'FuturaBQ-Book',Arial,sans-serif; font-weight: normal; text-align: left; line-height: 1.5; font-size:16px; letter-spacing: 1px; margin: 0; padding: 0; text-align: center;">Purchases made with Afterpay can be returned. If you’ve made a purchase using Afterpay that isn’t quite right, returns can be processed via our webstore. For exchanges we will issue a refund and you can place a new
                                        order for its replacement.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="line-height:44px;font-size:1px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table>
                                        <tr>
                                            <td bgcolor="#ffffff" align="left">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td bgcolor="#ffffff" align="center" style="">
                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="center" style="border-radius: 1px;" bgcolor="#F15322"> <a th:href="@{/user/ordersList}" style="font-size: 16px; font-family: 'FuturaBQ-Book',Arial,sans-serif; color: #ffffff; text-decoration: none; padding: 11px 52px; letter-spacing: 2px; text-align: center; border-radius: 1px; border: 1px solid #F15322; display: inline-block;">
																			VIEW MY ORDER

																		</a>

                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- /order-confirmation-body -->
</body>
</html>