
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/user/plans.css" type="text/css">
  <script src="/javascript/user/plans.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
  <div class="light-dark-btn"></div>
    <div class="container">
        <section class="card">
            <div class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
            <h3>Basic</h3>
            <h4><sup>$</sup>0</h4>
            <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i> Basic Delivery</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> No Cash-On-Delivery</li>
                <li><i class="fa fa-times" aria-hidden="true"></i> Live Support</li>
                <li><i class="fa fa-times" aria-hidden="true"></i> 10% Discount(10 Ords/Month)</li>
            </ul>
            <a href="#" class="btn">Choose</a>
        </section>
        <section class="card">
            <div class="icon standard"><i class="fa fa-plane" aria-hidden="true"></i></div>
            <h3>Standard</h3>
            <h4><sup>$</sup>50</h4>
            <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i> 5 Day Delivery</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Cash-On-Delivery(Conditional)</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Live Support</li>
                <li><i class="fa fa-times" aria-hidden="true"></i> 10% Discount(10 Ords/Month)</li>
            </ul>
            <a href="#" class="btn standard">Choose</a>
        </section>
        <section class="card">
            <div class="icon premium"><i class="fa fa-rocket" aria-hidden="true"></i></div>
            <h3>Premium</h3>
            <h4><sup>$</sup>100</h4>
            <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i> Same Day Delivery</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Cash-On-Delivery</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Live Support</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> 10% Discount(10 Ords/Month)</li>
            </ul>
            <a href="#" class="btn premium">Choose</a>
        </section>
    </div>
</body>
</html>