<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link rel="stylesheet" href="/css/user/queries.css" type="text/css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body id="body">
<div class="row">
    <div class="col-md-12 col-lg-6" th:each="query :${queries}" th:if="${email==query.userEmail}">
      <div class="member-card">
        <div class="member-pic"><img class="member-pic rounded-circle" style="background-color:white;" src="https://icons-for-free.com/iconfiles/png/512/profile+user+icon-1320166082804563970.png"/></div>
        <div class="member-card-details">
          <a href="#"><div class="member-name" th:text="${query.message}">Ipek Raskolnikov</div></a>
          <label for="ID">Admin Response:-</label>
          <div class="member-position" th:text="${query.statusAdmin}">Russia</div>
          <label for="ID">Item Id:-</label>
          <div class="member-position" id="ID" th:text="${query.itemId}">Russia</div>
        </div>
        <div class="btn-fired"><a type="button" th:if="${query.statusUser ==null}" th:href="@{/user/resolved/{id}(id=${query.id})}">Click If Resolved</a></div>
        <div class="btn-fired"><a type="button" th:if="${query.statusUser!=null}">Resolved</a></div>
      </div>
    </div>
    </div>
    
</body>
</html>