
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/user/register.css" type="text/css">
</head>
<body>
<div class="container">
  <div class="card">
        <h1 class="card-title">Hello User!</h1>
        <small class="card-subtitle">Enter your credentials and get Registered</small>
        <form th:action="@{/userRegisterDone}" th:object=${user} method="post">
         <div class="card-input-container username">
                <input type="text" name="username" id="username" required="true" th:field="*{username}"  placeholder="Username" >
                <label>Username</label>
            </div>
            <div class="card-input-container email">
               <input type="text" name="email" id="email" required="true" th:field="*{email}"  placeholder="Email" >
               <label>Email</label>
            </div>
             <div class="card-input-container Age">
                <input type="text" name="age" id="age" required="age" th:field="*{age}" placeholder="Age" >
                <label>Age</label>
            </div>
             <div class="card-input-container country"> 
                <input type="text" name="country" id="country" required="true" th:field="*{country}" placeholder="Country" >
                <label>Country</label>
            </div>
            <div class="card-input-container password">
                <input type="password" name="password" id="password" required="true" th:field="*{password}" placeholder="Passoword" >
                <label>Password</label>
            </div>
            <button type="submit" class="card-button">Register</button>
        </form>
    </div>
</div>

</body>
</html>

