:root {
    --primary-color: rgba(0,0,, 0.75);
    --secondary-color: rgba(229,148,0,0.9);
    --overlay-color: rgba(24, 39, 51 , 0.9);
    --menu-speed: 0.75s;
    /* All this variables are available on menu.css as well 
        because style.css is included 1st in index.html   */
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background-image: url(https://images.unsplash.com/photo-1616156027751-fc9a850fdc9b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

#showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

#showcase::before {
    content: '';
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#showcase .showcase-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
}

#showcase h1{
    font-size: 4rem;
}

#showcase p {
    font-size: 1.3rem;
}

.btn{
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-out;  
    text-decoration: none;
}

.btn:hover {
    opacity: 0.6;
}



.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background: red; */
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background: var(--primary-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* Hamburger Lines */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

/* Hamburger Line Before & After  */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    top: -10px;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
/* .menu-wrap .toggler:checked + .menu-wrap .hamburger > div ------->  Problem  */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Menu-Overlay (hidden) */
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    width: 200vw;
    height: 200vh;
    border-radius: 50%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    /* background: red; */
    transition: opacity 0.4s ease;
}

.menu-wrap .menu ul li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu ul li a {
    color: inherit;
    text-decoration: none;
    transition: color 0.7s ease;
}

.menu-wrap .menu ul li a:hover {
    color: var(--secondary-color);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.btn {
	position: relative;
    display: inline-block;
	padding: 10px 20px;
    color: #03E9F4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px;
	font-family: 'Arial', sans-serif;
	background:rgba(0,0,0,.5);
	border:none;
}
.fourth {
	border-color: #f1c40f;
	color: #fff;
	background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	transition: background 300ms ease-in-out;
}
.fourth:hover {
	background-position: 0;
}
.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.fifth {
	border-color: #8e44ad;
	border-radius: 0;
	color: #8e44ad;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: color 150ms ease-in-out;
}
.fifth:after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 100%;
	background: #8e44ad;
	z-index: -1;
	transition: width 150ms ease-in-out;
}
.fifth:hover {
	color: #fff;
}
.fifth:hover:after {
	width: 110%;
}