body {
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1546198632-9ef6368bef12?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}

table {
    text-align: center;
}

.cancelled {
color:red;
font-weight: bold;
}
@media (max-width: 575px) {

    table thead {
        display: none;
    }

    table tr {
        display: flex;
        flex-direction: column;
        border: 3px solid white;
        padding: 1px;
    }


    table td[data-label] {
        display: flex;
        font-weight: bold;
    }

    table td[data-label]::before {
        content: attr(data-label);
        color: lightgrey;
        font-weight: 100;
        width: 50%;
    }


}
.container{
    padding-top: 80px
}
th {
    background-color: black;
    color: white;
} 
tr{
    background-color: black;
    color: white;
} 
.contents:hover{
	 background-color: white;
    color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Roboto&family=Roboto+Condensed&display=swap');

nav {
  position: fixed;
  z-index: 2;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #373737;
  /* ⌄ ⌄ ⌄ blur property ⌄ ⌄ ⌄ */
  backdrop-filter: blur(5px);
}
.brand {
  margin-left: 4vw;
  margin-bottom: 0;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 4vw;
}
.nav-right p {
  margin-right: 20px;
  margin-bottom: 0;
}
.nav-right p:hover {
  color: white;
  cursor: pointer;
}
.large-screen-nav {
  display: static;
}
.small-screen-nav {
  display: none;
  color: #DEDEDE;
  font-size: 20px;
  line-height: 23px;
  padding-right: 10px;
}

h1 {
    font-family: 'Alegreya', serif;
    font-weight: 700;
    line-height: 1;
    font-size: 50px;
    margin: 0 0 43px 0;
    color: #90e243;
    
  }
  h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
    color: black;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 23px 0;
    color: black;
  }
  
  .btn {
	position: relative;
    display: inline-block;
	padding: 10px 20px;
    color: #03E9F4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px;
	font-family: 'Arial', sans-serif;
	background:rgba(0,0,0,.5);
	border:none;
}
.btn:hover, .btn:focus {
	color: #fff;
	outline: 0;
}
.first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
  }

.fourth {
	border-color: #f1c40f;
	color: #fff;
	background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	transition: background 300ms ease-in-out;
}
.fourth:hover {
	background-position: 0;
}
.fifth {
	border-color: #8e44ad;
	border-radius: 0;
	color: #8e44ad;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: color 150ms ease-in-out;
}
.fifth:after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 100%;
	background: #8e44ad;
	z-index: -1;
	transition: width 150ms ease-in-out;
}
.fifth:hover {
	color: #fff;
}
.fifth:hover:after {
	width: 110%;
}
 #updateButton{
	color:white;
}