<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/chooseProduct.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="item suits">
          <h3>Fridges</h3>
          <h3 class="shop"><a th:href="@{/fridgeStock}">view </a></h3>
          </div>
        <div class="item shirts">
            <h3>ACs</h3>
          <h3 class="shop"><a th:href="@{/acStock}">view</a></h3>
          </div>
          <div class="item shoes">
            <h3>Coolers</h3>
            <h3 class="shop"><a th:href="@{/coolersStock}">view</a></h3>
          </div>
        </div>
</body>
</html>