<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <script src="/javascript/home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
</head>
<body>
        <div class="portfolio">
      <header>
        <nav>
          <h3 class="logo">Debslance</h3>
          <svg
            class="menu"
            width="43"
            height="23"
            viewBox="0 0 43 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              y1="1.5"
              x2="43"
              y2="1.5"
              stroke="var(--white)"
              stroke-width="3"
            />
            <line
              y1="11.5"
              x2="28"
              y2="11.5"
              stroke="var(--white)"
              stroke-width="3"
            />
            <line
              y1="21.5"
              x2="16"
              y2="21.5"
              stroke="var(--white)"
              stroke-width="3"
            />
          </svg>
          <div class="nav-open">
            <div class="contact">
              <h3>Contact</h3>
              <p>02348-234-843</p>
            </div>
            <div class="social">
              <h3>Social</h3>
              <div class="social-links">
              <a type="button" th:href="@{https://www.facebook.com/debakanta.satapathy.07/}">
                <svg 
                  width="12"
                  height="24"
                  viewBox="0 0 12 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3 8H0V12H3V24H8V12H11.642L12 8H8V6.333C8 5.378 8.192 5 9.115 5H12V0H8.192C4.596 0 3 1.583 3 4.615V8Z"
                    fill="#454545"
                  />
                </svg></a>
                <a type="button" th:href="@{https://twitter.com/Debakanta07p}">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M24 2.309C23.117 2.701 22.168 2.965 21.172 3.084C22.189 2.475 22.97 1.51 23.337 0.36C22.386 0.924 21.332 1.334 20.21 1.555C19.313 0.598 18.032 0 16.616 0C13.437 0 11.101 2.966 11.819 6.045C7.728 5.84 4.1 3.88 1.671 0.901C0.381 3.114 1.002 6.009 3.194 7.475C2.388 7.449 1.628 7.228 0.965 6.859C0.911 9.14 2.546 11.274 4.914 11.749C4.221 11.937 3.462 11.981 2.69 11.833C3.316 13.789 5.134 15.212 7.29 15.252C5.22 16.875 2.612 17.6 0 17.292C2.179 18.689 4.768 19.504 7.548 19.504C16.69 19.504 21.855 11.783 21.543 4.858C22.505 4.163 23.34 3.296 24 2.309Z"
                    fill="#454545"
                  />
                </svg></a>
                <a type="button" th:href="@{https://github.com/debs-07}">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" fill="#454545"/>
</svg></a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <section class="page photographer">
          <div class="details">
            <h1>Customer</h1>
            <h2>Luxury Products Awaits You.</h2>
            <p> <a class="btn" type="button" th:href="@{/user/home}">
        Click me
      </a></p>
          </div>
          <div class="hero">
            <img
              class="model-left"
              src="https://i.ibb.co/BqS8pbF/IMS-Customer-left.jpg"
              alt="model"
            />
            <img
              class="model-right"
              src="https://i.ibb.co/nrXD7sN/IMS-Customer-right.jpg"
              alt="model"
            />
          </div>
        </section>
        <section class="page chef">
          <div class="details">
            <h1>Retailer</h1>
            <h2>A New Way Of Doing Buisness.</h2>
            <p> <a class="btn" type="button" th:href="@{/admin/home}">
        Click me
      </a></p>
          </div>
          <div class="hero">
            <img
              class="model-left"
              src="https://i.ibb.co/n7zQLt8/IMS-Retailer-left.jpg"
              alt="model"
            />
            <img
              class="model-right"
              src="https://i.ibb.co/cymd3Yg/IMS-Retailer-right.jpg"
              alt="model"
            />
          </div>
        </section>
        <section class="page hairstyle">
          <div class="details">
            <h1>Delivery Partner</h1>
            <h2>Always Deliver More Than Expected.</h2>
            <p> <a class="btn" type="button">
        Click me
      </a></p>
          </div>
          <div class="hero">
            <img
              class="model-left"
              src="https://i.ibb.co/61NFWC9/IMS-Delivery-left.jpg"
              alt="model"
            />
            <img
              class="model-right"
              src="https://i.ibb.co/3TNPkxs/IMS-delivery-right.jpg"
              alt="model"
            />
          </div>
        </section>
        <aside>
          <div class="pages">
            <div class="page-1">
              <h3>01</h3>
              <svg
                class="slide active"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="6" cy="6" r="6" fill="white" />
              </svg>
            </div>
            <div class="page-2">
              <h3>02</h3>
              <svg
                class="slide"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="6" cy="6" r="6" fill="white" />
              </svg>
            </div>
            <div class="page-3">
              <h3>03</h3>
              <svg
                class="slide"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="6" cy="6" r="6" fill="white" />
              </svg>
            </div>
          </div>
        </aside>
      </main>
    </div>
</body>
</html>