<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>The Great Getaway</title>
            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="app.css">
            <link rel="stylesheet" href="/css/inventory.css" type="text/css">
        </head>
        <body>

        <nav>
          <h2 class="brand">The path To Your Inventory</h2>
          <div class="nav-right large-screen-nav">
             <a type="button" class="btn fourth" id="retailersHome" th:href="@{/retailersHome}">Home</a>
              <a type="button" class="btn first" id="dashboard" th:href="@{/dashboard}">DashBoard</a>
              <a type="button" class="btn fifth" id="inventoryTable" th:href="@{/inventoryTable}">Help</a>
          </div>
          <div class="nav-right small-screen-nav">
            <i class="las la-bars"></i>
          </div>
        </nav>
     
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content">
                    <h1>Your Data Is Safe With Us</h1>
                    
                    <a type="button" class="btn fourth" id="addItem" th:href="@{/add}">Add Item</a>
                    <a type="button" class="btn fifth" id="inventoryTable" th:href="@{/inventoryTable}">View Items</a>
                    </div>
                    
                </div>
            </div>	
        </div>
        
        <script
          src="https://code.jquery.com/jquery-3.2.1.js"
          integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
          crossorigin="anonymous"></script>
        
          <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script src="https://use.fontawesome.com/5fdc450c1b.js"></script>
        </body>
        
</html>